.input_main {
	position: relative;
}

.input {
	width: 456px;
	height: 80px;
	padding-left: 20px;
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 80px;
	background: #f2f2f2;
	border: none;
	margin-top: 18px;

	color: #797979;
}

.error {
	width: 456px;
	height: 80px;
	padding-left: 20px;
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 80px;
	background: #fbebeb;
	border: 0.5px solid #cc0000;
	margin-top: 18px;
	border-radius: 4px;
	color: #2d2d2d;
}

.error_message {
	max-width: 300px;
	color: #cc0000;
}

.sign {
	position: absolute;
	top: 47px;
	right: 20px;
}
.clean_input {
	width: 456px;
	height: 80px;
	padding-left: 20px;
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 80px;
	border: none;
	margin-top: 18px;
	background: #ffffff;
	color: #2d2d2d;
	border: 0.5px solid #2d2d2d;
	border-radius: 4px;
}

@media (max-width: 1000px) {
	.input {
		width: 300px;
		height: 60px;
	}

	.error {
		width: 300px;
		height: 60px;
	}

	.sign {
		position: absolute;
		top: 37px;
		right: 10px;
	}
	.clean_input {
		width: 300px;
		height: 60px;
	}
}
