.rooms_gallery_main {
	width: 100%;
	max-width: 1440px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
}

.room_main {
	width: 278px;
	height: 210px;
	background-color: var(--text);
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 210px;
	text-align: center;
	text-transform: uppercase;
	position: relative;

	color: #ffffff;
	margin-top: 28px;
}

.room_main:hover {
	background-color: var(--red);
	cursor: url('/img/custom_cursor.svg'), auto;
}

@media (max-width: 1470px) {
	.rooms_gallery_main {
		width: 90%;
		margin: 0 auto;
		justify-content: space-evenly;
	}
}
