.button_group {
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;
}

.one_button {
	width: 270px;
}

.video {
	width: 917px;
	height: 550px;
	border-top: 25px solid #f4f4f4;
	border-bottom: 25px solid #f4f4f4;
	border-left: 16px solid #f4f4f4;
	border-right: 16px solid #f4f4f4;
	position: relative;
}

.brodcast_area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;
	overflow: hidden;
}

.video_question {
	width: 90.6%;
	position: absolute;
	left: 4.6%;
	bottom: 25px;
}

@media (max-width: 1100px) {
	.button_group {
		max-width: 700px;
		margin: 0 auto;
	}
	.button_group {
		flex-wrap: wrap;
	}

	.one_button {
		width: 300px;
		margin-top: 8px;
	}

	.brodcast_area {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width: 620px) {
	.button_group {
		justify-content: center;
	}

	.video_question_decktop {
		display: none !important;
	}

	.video {
		height: 415px;
		border-top: 8px solid #f4f4f4;
		border-bottom: 8px solid #f4f4f4;
		border-left: 8px solid #f4f4f4;
		border-right: 8px solid #f4f4f4;
	}

	.video_question {
		position: relative;
		width: 339px;
		height: 142px;
		background-image: url('/img/video_question_mobile.png');
		background-size: cover;
		left: calc(50% - 169.5px);
		margin-top: 50px;
	}

	.chat {
		width: 355px;
		margin: 0 auto;
		margin-top: 20%;
	}

	.brodcast_area {
		margin-top: 30px;
	}
}

@media (max-width: 420px) {
	.chat {
		width: 355px;
		margin: 0 auto;
		margin-top: 0%;
	}
}
