.main_layout {
	background: url('/img/main_back.png');
	min-height: 100vh;
	background-size: cover;
	border: 2px solid #000000;
	border-bottom: 8px solid var(--red);
	box-sizing: border-box;
	margin: 10px;
}

.main_wrapper {
	max-width: 1471px;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.main_layout {
		border: none;
		margin: 0px;
	}
}
