.title {
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text);
}

.title_block {
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 40px;
	text-align: center;
}

.go_to_main_button {
	width: 270px;
	position: absolute;
	top: 60px;
	right: 232px;
}

@media (max-width: 1000px) {
	.go_to_main_button {
		width: 300px;
		position: static;
		margin: 0 auto;
		margin-top: 30px;
	}
}
