.buttom_main {
	width: 100%;
	max-width: 456px;
	height: 80px;
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 80px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	margin-right: 18px;
}

@media (max-width: 1000px) {
	.buttom_main {
		height: 60px;
		line-height: 60px;
	}
}
