.photos_main {
	max-width: 1438px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.photo_main {
	margin-top: 28px;
	position: relative;
}

.button_group {
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;
}

.one_button {
	width: 270px;
}

.title {
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text);
}

.title_block {
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 40px;
	text-align: center;
}

.modal_main {
	padding: 0 !important;
	margin: 0 !important;
	max-width: 1210px !important;
	max-height: 680px !important;
	overflow: hidden !important;
	background: none !important;
}

.overlay {
	background: none !important;
}

.close_btn {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

@media (max-width: 1470px) {
	.photos_main {
		width: 90%;
		margin: 0 auto;
		justify-content: space-evenly;
	}
}

@media (max-width: 1100px) {
	.button_group {
		max-width: 700px;
		margin: 0 auto;
	}
	.button_group {
		flex-wrap: wrap;
	}

	.one_button {
		width: 300px;
		margin-top: 8px;
	}
}

@media (max-width: 620px) {
	.button_group {
		justify-content: center;
	}

	.title_block {
		margin-top: 60px;
		margin-bottom: 30px;
	}
}
