.header_main {
	width: 100%;
	height: 200px;
	background: #e5e5e5;
}

.header_wrapper {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
}

.header_title {
	font-size: 60px;
	line-height: 74px;
	margin-top: 33px;
	margin-left: 68.5px;
}

.red_title {
	color: var(--red);
}

.grey_title {
	color: var(--grey);
}

@media (max-width: 680px) {
	.header_main {
		height: 80px;
	}
	.header_title {
		font-size: 30px;
		line-height: 37px;
		margin-left: 30px;
		margin-top: 12px;
	}

	.logo {
		width: 29px;
		height: 68px;
		margin-left: 10px;
	}
}
