.like_block {
	width: 278px;
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: #ffffff;
	background: rgba(134, 133, 133, 0.8);
	position: absolute;
	bottom: 4px;
	cursor: pointer;
}

.count {
	margin-left: 12px;
}

@media (max-width: 520px) {
	.like_block {
		width: 100%;
		max-width: 303px;
	}
}
