@font-face {
	font-family: 'DIN Pro';
	src: url('/fonts/DINPro-Bold.woff') format('woff'),
		url('/fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('/fonts/DINPro-Medium.woff') format('woff'),
		url('/fonts/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
