.left_top {
	position: absolute;
	left: 18.5px;
	top: 20.5px;
}

.right_top {
	position: absolute;
	right: 18.5px;
	top: 20.5px;
}

.right_bottom {
	position: absolute;
	right: 18.5px;
	bottom: 20.5px;
}

.left_bottom {
	position: absolute;
	left: 18.5px;
	bottom: 20.5px;
}
