.select_block {
	margin-top: 18px;
}

.root {
	position: relative;
	display: grid;
	height: 80px;
	box-sizing: border-box;
	font-family: 'DIN Pro';
	font-size: 22px;
	background: #ffffff;
	border: 0.5px solid #2d2d2d;
	border-radius: 4px;
	cursor: pointer;
}

.placeholder {
	margin-left: 10px;
	color: #797979;
	user-select: none;
}

.placeholder_select {
	margin-left: 10px;
	color: #272727;
	user-select: none;
}

.menu {
	position: absolute;
	left: 0;
	right: 0;
	top: 105%;
	height: 175px;
	background: #f2f2f2;
	z-index: 1;
	overflow: auto;
}

.menu div {
	display: flex;
	align-items: center;
	user-select: none;
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
	height: 35px;
	padding-left: 10px;
}

.menu div:hover {
	background: var(--grey);
	color: white;
}

.control {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.control div {
	margin-right: 25px;
}

.arrow {
	position: absolute;
}

.error {
	color: var(--red);
}

@media screen and (max-width: 670px) {
	.root {
		height: 60px;
	}
}
