.title {
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text);
	text-align: center;
	margin-top: 53px;
}

.fields_main {
	width: 456px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.button {
	display: block;
	width: 456px;
	margin-top: 18px;
}

.personal_data {
	color: #cc0000;
	cursor: pointer;
}

.form {
	margin-top: 39px;
}

.authorization_main {
	max-width: 640px;
	height: 570px;
	margin: 0 auto;
	border: 0.5px solid #2d2d2d;
	margin-top: 45px;
	position: relative;
}

.red_line {
	width: 456px;
	height: 8px;
	background: var(--red);
	position: absolute;
	top: 0;
	left: 91px;
}

.go_to_main_button {
	width: 270px;
	position: absolute;
	top: 60px;
	right: 232px;
}

@media (max-width: 1000px) {
	.go_to_main_button {
		width: 270px;
		position: absolute;
		top: auto;
		bottom: 55px;
		left: calc(50% - 135px);
	}

	.authorization_main {
		border: none;
	}

	.red_line {
		display: none;
	}
}

@media (max-width: 650px) {
	.authorization_main {
		margin-top: 45px;
		position: relative;
	}
}

@media (max-width: 480px) {
	.authorization_main {
		border: none;
		margin-top: 45px;
		position: relative;
	}

	.red_line {
		display: none;
	}

	.fields_main {
		width: 300px;
	}
	.fields_main input {
		width: 300px;
	}

	.button {
		width: 300px;
	}
}
