.title {
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 43px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text);
	text-align: center;
	margin-top: 53px;
}

.fields_main {
	width: 930px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}

.button {
	display: block;
	width: 456px;
	margin-top: 18px;
}

.checkbox_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 442px;
	margin: 0 auto;
	margin-top: 20px;
}

.custom_checkbox {
	width: 23px;
	height: 23px;
}

.checkbox_text {
	font-family: DIN Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	color: var(--text);
}

.personal_data {
	color: var(--red);
	cursor: pointer;
}

.form {
	margin-top: 39px;
}

.go_to_main_button {
	width: 270px;
	position: absolute;
	top: 60px;
	right: 232px;
}

.small_block_one {
	display: flex;
	flex-direction: column;
}

.small_block_two {
	display: flex;
	flex-direction: column;
}

.modal_main {
	max-width: 953px !important;
	max-height: 600px;
	overflow-y: auto;
	position: relative;
}

.grey_line {
	width: 50px;
	border: 1px solid #666666;
	margin: 0 auto;
	margin-top: 28px;
	margin-bottom: 28px;
}

.modal_text {
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;

	color: #000000;
	padding: 30px 79px 57px;
	overflow: auto;
}

.modal_text h1 {
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
}

.close_btn {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.go_to_main_button_mobile {
	width: 270px;
	margin: 0 auto;
	margin-top: 25px;
	display: none;
}

@media (max-width: 1000px) {
	.go_to_main_button {
		width: 270px;
		position: absolute;
		top: auto;
		bottom: 10px;
		left: calc(50% - 135px);
		display: none;
	}

	.go_to_main_button_mobile {
		width: 270px;
		margin: 0 auto;
		margin-top: 25px;
		padding-bottom: 25px;
		display: block;
	}
}

@media (max-width: 1000px) {
	.fields_main {
		width: 630px;
		margin: 0 auto;
	}

	.title {
		margin-top: 10px;
	}

	.form {
		margin-top: 0px;
	}

	.button {
		display: block;
		width: 300px;
		height: 60px;
		margin-top: 18px;
	}
}

@media (max-width: 700px) {
	.modal_text h1 {
		font-size: 28px;
	}
	.modal_main {
		width: 100% !important;
		padding: 0px !important;
		margin: 0px !important;
	}

	.modal_text {
		padding: 30px 20px 57px;
	}
}

@media (max-width: 680px) {
	.fields_main {
		width: 300px;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
	}
}

@media (max-width: 460px) {
	.agreement::after {
		content: '\a';
		white-space: pre;
	}

	.checkbox_block {
		width: 300px;
		justify-content: space-evenly;
	}

	.fields_main {
		width: 300px;
	}
}
